<nav class="navbar navbar-light bg-light">
<span class="navbar-brand mb-0 h1">Achme Broker</span>
</nav>
<div class="container">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let policy of policies" [title]="policy.customerName" >
      <ng-template ngbPanelContent>
        <strong>Customer Address: </strong> {{policy.customerAddress}}<br>
        <strong>Premium: </strong> {{policy.premium | currency:'GBP'}}<br>
        <strong>Policy Type: </strong> {{policy.policyType}}<br>
        <strong>Insurer: </strong> {{policy.insurerName}}
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
